<div> <%= form_for @user, url: create_session_path do |f| %> </div>

<div><%= f.label :email %></div>
<div><%= f.email_field :email %></div>



<div><%= f.label :password %></div>
<div><%= f.password_field :password %></div>


<%= f.submit 'Sign In' %>

<% end %>

<% if current_user %>
  <%= link_to 'Logout', destroy_session_path %>
<% else %>
  <%= link_to 'Login', new_session_path %>
<% end %>
