<div class="post post-new">

  <%= link_to(params[:action] == "show" ? post.image_uri : post_path(post)) do %>
    <%= image_tag(post.image_uri, class: "post-pic") if post.has_image? %>
  <% end %>

  <%= link_to post_path(post), class: "post-link" do %>
    <p><%= raw(post.text) %></p>
    <p><span class="tags"><%= post.tags %></span></p>
  <% end %>

  <p class="post-data">
    Posted <%= post.formatted_time %> by
    <%= link_to post.user.handle, user_path(post.user) %>
    <%= image_tag post.user.profile_image_uri, width: "1em", class: "img-circle post-thumbnail" %>
    <%= link_to("(Delete)", post_path(post), method: :delete) if post.user == current_user %>
    <iframe
      id="ytplayer"
      type="text/html"
      width="320"
      height="195"
      src="<%= "https://www.youtube.com/embed/#{post.youtube_embed_id}" %>"
      frameborder="0"
    /></iframe>
  </p>
</div>
