<div class="row text-center">
  <div class="simple">
    <%= render 'post', post: @post %>
  </div>
</div>

    <iframe
      id="ytplayer"
      type="text/html"
      width="640"
      height="390"
      src="<%= "http://www.youtube.com/embed/#{@post.youtube_embed_id}" %>"
      frameborder="0"
    /></iframe>
  </div>

<br>
<%= form_for @comment do |f| %>
<div>
<%= f.label :comment_here %>
<%= f.text_area :body %>
</div>
<div>
<%= f.hidden_field :post_id, :value => @post.id %>
</div>
<div>
<%= f.hidden_field :user_id, :value => current_user.id %>
</div>
<%= f.submit %>
<% end %>
<br>

<%= render :partial => 'comment', :collection => @post.comments %>
